/* General Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
  }
  
  /* Navbar Styles */
  .navbar {
    background-color: #202020;
    padding: 10px 20px;
  }
  
  .table-container {
    margin: 20px;
  }
  
  .header-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  /* Input and Select Styles */
  input[type="search"] {
    padding: 10px;
    width: 250px;
    background-color: #282828;
    color: white;
    border: 1px solid #404040;
    border-radius: 5px;
  }
  
  select {
    padding: 10px;
    background-color: #282828;
    color: white;
    border: 1px solid #404040;
    border-radius: 5px;
  }
  
  /* Table Styles */
  table.problem-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  thead.problem-thead {
    background-color: #2e2e2e;
  }
  
  thead.problem-thead th {
    padding: 12px 15px;
    text-align: left;
    color: #a9a9a9;
    font-size: 14px;
  }
  
  tbody tr {
    background-color: #1f1f1f;
  }
  
  tbody tr:nth-child(even) {
    background-color: #262626;
  }
  
  tbody tr:hover {
    background-color: #333333;
  }
  
  tbody td {
    padding: 12px 15px;
    text-align: left;
    font-size: 14px;
  }
  
  td.status.solved::before {
    content: "✔️";
    color: green;
  }
  
  td.status.unattempted::before {
    content: "○";
    color: gray;
  }
  
  td.status.attempted::before {
    content: "⧗";
    color: yellow;
  }
  
  td.status::before {
    margin-right: 10px;
  }
  
  td.td-problm a {
    text-decoration: none;
    color: white;
  }
  
  td.td-problm a:hover {
    text-decoration: underline;
  }
  
  /* Extra Elements */
  button {
    background-color: #404040;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #505050;
  }
  