* {
  margin: 0;
  /* padding: 06; */
  /* background-color: black; */
  color: white;
  list-style: none;
  text-decoration: none;
  font-family: monospace;
  box-sizing: border-box;
  /* font-size: medium !important; */
}
body {
/* min-height: 100vh; */
background-color: rgba(0, 0, 0, 0.87);
}
/***** HOME PAGE *****/ 
.container1 {
position: relative;
width: 100%;
height: 100vh;
overflow: hidden;
}