* {
    margin: 0;
    background-color: rgb(57 57 57);
    color: white;
  }
body {
    /* min-height: 100vh; */
    background-color: black;
    }
    /***** HOME PAGE *****/ 
    .container1 {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    }
    
    .logo1 {
    padding: 2px 40px;
    background-color: transparent !important;
    }
    
    .logo1 img {
    height: auto;
    width: 130px;
    background-color: transparent !important;
    
    }
    
    .navbar{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 0;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);

    }
    
    .navbar ul {
    float: right;
    margin-right: 70px;
    align-items: center;
    }
    .navbar ul li {
    display: inline-block;
    line-height: 80px;
    margin: 15 5px;
    padding: 0px 10px;
    }
    .navbar ul li a {
    color: white;
    font-size: 20px;
    font-weight: 400;
    border: none;
    border-radius: 2px;
    padding: 0.4rem;
    border-bottom: 1px solid transparent;
    }
    
    .navbar ul li a:hover {
    color: rgba(53, 233, 144, 255);
    /* font-weight: bold; */
    /* border-bottom: 1px solid rgb(0, 255, 166); */
    width: 100%;
    }
    
    .checkbtn {
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    }
    #check {
    display: none;
    }
    
    .body-section {
      display: grid;
      grid-template-columns: 1fr 1fr;
      padding-top: 5%;
    }
    
    .headline{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }
    
    .headline p {
    text-align: center;
    margin: 20px 50px;
    font-size: 2.2vw;
    /* font-family: 'Times New Roman', Times, serif; */
    color: white;
    }
    /* Typing Animation */
    
    .headline h1{
    text-align: center;
    background: transparent !important;
    margin: -30px 50px;
    font-size: 6vi;
    font-weight: bold;
    color: white;
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    animation:typing 2s steps(40), blink-caret 0.75s step-end infinite;
    }
    
    @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
    }
    
    @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: #000;
    }
    }
    .headline h3 {
    text-align: center;
    margin: 10px 50px;
    font-size: 2.8vw;
    /* font-family: 'Times New Roman', Times, serif; */
    color: white;
    }
    h1#page_title span,
    h3#below_page_title span {
        transition: color 0.3s ease;
       
    }

    /* Hover effects */
    p#above_page_title span:hover,
    h1#page_title span:hover,
    h3#below_page_title span:hover {
        color: rgb(0, 255, 166);
        /* cursor: ; */
    }
    #above_page_title {
      margin-bottom: 0;
    }
    
    .button-body {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(0, 255, 166); 
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px;
    border: 2px solid transparent;
    }
    
    .button-body:hover {
    /* transform: scale(1.02); */
    background-color: transparent;
    border: 2px solid rgb(0, 255, 166);
    color: rgb(0, 255, 166);
    }
    
    /**Container2 */
    .container2 {
    position: relative;
    width: 100%;
    height: 200vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    }
    .shadow {
    border-top: 5px solid rgb(0, 255, 166);
    border-left: 5px solid rgb(0, 255, 166);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: 95%;
    }
    
    .main-heading h1 {
    margin: 0px 50px;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    text-align: center;
    text-decoration: underline rgb(0, 255, 166);
    }
    .headline-about h1::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 50%;
      height: 0.5rem;
      background-color: rgb(0, 255, 166);
    }
    
    /***** laptop *****/ 

    .info {
        display: flex;
        justify-content: center;
      }
      .info {
        position: relative;
        width: 560px; /* Adjust to your preferred width */
        height: 315px; /* Adjust to your preferred height */
      }
      
      .background-image {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Ensure the image covers the container */
      }
      
      .video-container {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        pointer-events: none; /* Prevents clicking on the video from interacting with the image underneath */
      }
      
      .video-container iframe {
        pointer-events: auto; /* Enables interaction with the video */
      }
      
      /***** End laptop *****/
      
      
      
      .img{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 17%;
        padding-bottom: 5%;
      }
      .about {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
        flex-wrap: wrap;
      }
      .about .detail{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .about .detail .box {
        width: 400px;
        height: 70px;
        background-color: #3e3e3e;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 30px;
      }
      .about .detail .box img {
        width: 44px;
        height: 44px;
        background-color: transparent;
        margin-left: 10px;
      }
      .about .detail .box h1 {
        background-color: transparent;
        font-weight: 400;
        font-size: 3.5vh;
        color: white;
        margin-right: 10px;
      }
      .about .detail .box:hover {
        transform: scale(1.01);
        -webkit-transform: scale(1.01);
        -moz-transform: scale(1.01);
        -ms-transform: scale(1.01);
        -o-transform: scale(1.01);
}
      @media only screen and (max-width: 800px) and (min-width: 450px) {
        .img img{
          width: 90%;
        }
        .about .detail{
          width: 50%;
        }
        .about .detail .box h1 {
          font-size: 20px;
          padding: 30px;
        }
        .about .detail .box {
          width: 100%;
          padding: 0;
          margin-left: 0;
          margin-right: 0;
        }
          .logo {
              margin-left: 40%;
              margin-right: 40%;
          }
          .container {
              max-width: 100%;
              position: absolute;
              left: 2%;
              width: 96%;
              padding-left: 0;
              margin-left: 0;
          }
          #quiz-container h1{
              font-size: 7vh;
              margin-bottom: 0;
              text-align: center;
          }
          #quiz-container p{
              text-align: center;
          }     
      }
      /* @media screen and (max-width: 768px){
        .logo {
          height: 35vh;
          width: 20vw;
          display: flex;
          margin-left: 40%;
        }
      } */
      @media only screen and (max-width: 450px){
        .img img{
          width: 90%;
        }
        .about .detail{
          width: 100%;
        }
        .about .detail .box h1 {
          font-size: large;
        }
        .about .detail .box {
          width: 100%;
          padding: 0;
          margin-left: 0;
          margin-right: 0;
        }
        body{
          display: flex;
          flex-direction: column;
          align-items: center;
        }
        .logo{
          margin: 0px;
          padding: 0px;
        }
        .coming_soon *{
          font-size: 2.6rem !important;
          z-index: 0;
        }
      
        /* .coming_soon {
          position: absolute;
          top: 20%;
          left: 10%;
        } */
          /* .logo {
              margin-left: 40%;
              margin-right: 40%;
          } */
          .quiz-header {
              flex-direction: column;
          }
          .container {
              max-width: 100%;
              position: absolute;
              left: 2%;
              width: 96%;
              padding-left: 0;
              margin-left: 0;
          }
          #quiz-container {
              width: 100%;
              padding-left: 8px;
          }
          #quiz-container h1{
              text-align: center;
              font-size: 5vh;
          }
          #quiz-container p{
              text-align: center;
          }
      }

      /**Footer Style */
.footer-last {
    height: 10vh;
    width: 100%;
    top: 0;
    left: 0;
    position: relative;
    overflow: hidden;
    display: block;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
    }
    .credit {
    cursor: pointer;
    opacity: 0.8;
    }
    .credit:hover {
    color: rgb(0, 255, 166);
    /* opacity: 1; */
    }
/***** End HOME PAGE *****/





      