

/* BG image */
.gray-background {
  height: 52vh;
  background-size: cover;
  background-image: url("../images/backgroundC.png");
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  z-index: 0;
}
/* Weekly box */
.rect-box {
  width: 300px;
  height: 280px;
  background-color: #333;
  position: relative;
  bottom: 20px;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
  transition: transform  0.3s;
  z-index: 2;
}

.box-bg {
  width: 100%;
  height: 75%;
  background-image: url("../images/boxBg.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.boxBox {
  font-family: "Jersey10", sans-serif;
  width: 100%;
  height: auto;
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-top: 5px;
  padding-inline-start: 20px;
}

.text {
  margin: 0;
  font-size: 35px;
  font-family: "Jersey 10", sans-serif;
  color: rgb(165, 163, 163);
}

a {
  text-decoration: none;
}

.description {
  margin: 0;
  color: rgb(165, 163, 163);
  font-family: "Jersey 10", sans-serif;
  font-size: 16px;
  padding-inline-start: 5px;
}

.box-scale {
  transform: scale(1.05);
}

/* contest Boxes */
.white-block {
  padding: 20px;
  /* background-color: rgb(57 57 57); */
}

.box a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  background-color: #282828;
  color: black;
  width: 200px;
  height: 80vh;
  font-size: 16px;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;
}

#box1 {
  width: 40vw;
  margin-right: 8px;
}
#box2{
  width: 350px
}
.text1 , .rank{
  color: rgb(245, 241, 234);
  font-weight: 400;
  margin-left: 10px;
}
.text1 {
  margin-bottom: 7px;
}
.box ul {
  list-style: none;
  padding: 10px;
  margin: 0;
  display: flex;
}

.box li {
  margin: 0 0px;
  font-size: 16px;
}



li {
  font-size: 16px;
  cursor: pointer;
}

/* Contest boxes button nav */
button {
  background-color: #282828;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 10px 20px;
  color: rgb(165, 163, 163);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  border-radius: 10px;
}
.active,
#b3 {
  background-color: #3E3E3E;
  color: white;
}

/* Content of boxes */
.point1 ,.point2{
  padding:10px;
  display: flex;
  gap: 0px;
  color: #b0a9a9;
  font-family:  sans-serif;
}
.point1 p {
  margin-right: 10px; 
  line-height: 1px;
}
.point1 img {
  margin-right: 10px; 
  height: 60px;
  border-radius: 10px;
}
.point1 button { 
  margin-left: auto; 
  background-color: rgb(33, 38, 38);
}
.text2{
  font-size: 12px;
  color: grey;
  margin-left: 10px;
  padding-top: 8px;
}
.point2 img {
  width: 50px;
  border-radius: 50px;
  position: relative;
  right: 40px;
}

/* responsive */
@media (max-width:978px) {
  #box1,
  #box2 {
    width: 100%;
    margin: 10px 0;
  }
}
@media (max-width: 678px) {
  .nav {
    height: 0px;
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
  
  .box-bg{
    background-image: url("../images/boxBg2.jpeg");
  }

  #box3 {
    width: 100%;
  }

  .rect-box {
    top: 10px;
    width: 90vw;
    height: 300px;
    margin: 20px auto;
  }

  .text {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }

  .navbar {
    height: 7vh;
  }

  .gray-background {
    height: 30vh;
  }
}
