
* {
    margin: 0;
    /* padding: 06; */
    /* background-color: black; */
    /* color: white; */
    list-style: none;
    text-decoration: none;
    font-family: monospace;
    box-sizing: border-box;
    /* font-size: medium !important; */
  }
  
  body {
    /* min-height: 100vh; */
    background-color: rgba(0, 0, 0, 0.87);
  }

  .ideaPitch-container {
    border: 2px solid;
    width: 70%;
    margin-left: 15vw;
    border: 2px solid;
    border-radius: 10px;
    box-shadow: -3px 3px 16px rgba(255, 255, 255, 0.5);
  }
  
  .container-idea-pitch {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    font-family: monospace; 
    border: 2px solid;
    background-color: "white" !important;
   
  }
  
  .navbar-dark .navbar-nav .nav-item {
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 80px;
    display: inline-block;
    border: none;
    border-radius: 2px;
    padding: 0.4rem;
    border-bottom: 1px solid transparent;
  }
  
  .navbar-dark .navbar-nav .nav-item:hover {
    color: rgb(0, 255, 166);
    border-bottom: 1px solid rgb(0, 255, 166);
    font-weight: bold;
  }
  
  Container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    font-family: monospace; 
  }
  