.leaderboard_container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 100; */
    background-color: #000;
}
.leaderboard_container .leaderboard_main_heading {
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #f5f5f7; */
    height: 20vmin;
    /* margin-bottom: 10%; */
}
.leaderboard_container .leaderboard_main_heading h1 {
    color: white;
    font-size: 50px;
}
.leaderboard_container .leaderboard_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
}
.leaderboard_container .leaderboard_heading h4{
    color: white;
    font-size: 20px;

}
.leaderboard_container .leader_boxes {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    background-color: #16182D;
    height: 70px;
    border-radius: 35px;
    margin: 15px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
}
.leaderboard_container .leader_boxes .leader_result {
    width: 95%;
    background-color: #16182D;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.leaderboard_container .leader_boxes .leader_result h4 {
    color: white;
    background-color: #16182D;
    width: 18%;
    text-align: center;
    font-size: 22px;
}

@media only screen and (max-width : 700px) {
    .leaderboard_container .leader_boxes {
        width: 95%;
    }
    .leaderboard_container .leaderboard_heading {
        width: 90%;
    }
    .leaderboard_container .leaderboard_heading h4{
        width: auto;
        font-size: 13px;
    }
    .leaderboard_container .leader_boxes .leader_result {
        width: 90%;
    }
    .leaderboard_container .leader_boxes .leader_result h4 {
        font-size: 12px;
        width: auto;
    }
    .leaderboard_container .leader_boxes .leader_result .name {
        width: 100px;
    }
    .leaderboard_container .leaderboard_main_heading h1 {
        font-size: 30px;
    }
    .leaderboard_container .leaderboard_main_heading {
        margin-bottom: 10%;
    }
}