.login-container {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    
}

.login-content {
    background-color: #171717;
    /* border: 2px solid red; */
    border-radius: 10px; 
    padding: 20px 50px; 
    box-shadow: 0 4px 8px rgba(56, 56, 56, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1); 
    width: 400px;
    text-align: center; 

}
.login-logo {
    background-color: #171717;
}
.login-logo img {
    background-color: #171717;
    width: 20%;
}
.login-header {
    background-color: #171717;
}
.login-header p {
    background-color: #171717;
    font-size: 1.5rem;
    font-weight: bold;
}
.google-button {
    background-color: rgb(0, 255, 166);
    border-radius: 5px;
    /* padding: 10px 20px; */
    margin: 1px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    color: black;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    border: none;
}

.login-google {
    background-color: #171717;
}
.google-button img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}
.google-button:hover {
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}

.terms {
    background-color: #171717;
    font-size: 12px;
    color: #757575;
    margin-top: 10px;
    text-align: center;
}

.terms a {
    background-color: #171717;
    color: #1a73e8; /* Google's blue color */
    text-decoration: none;
}

.terms a:hover {
    text-decoration: underline;
}



