.coming_soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    /* background-color: red; */
    width: 100%;
  }
  
  .coming_soon h1 {
    font-size: 12vmin;
    color: #02f78d;
    /* text-shadow: 3px 3px 10px white ; */
    animation: fadeInOut 3s ease-in-out forwards; 
  }
  @keyframes dotAnimation {
    0%, 100% { content: "."; } /* Start and end with one dot */
    25% { content: ".."; } /* Transition to two dots */
    50% { content: "..."; } /* Transition to three dots */
    75% { content: ""; } /* Back to no dots */
  }
  
  .coming_soon .dots::after {
    display: inline-block;
    content: ".";
    animation: dotAnimation 3s infinite; /* Adjust timing as needed */
  }